*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/libs/
